extends layout 

block content 

h1 #{title}:  #{bookinstance.name}
p Do you really want to delete this bookinstance?
form (method='POST')
   div.form-group
     input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', value=bookinstance_.id)

   button.btn.btn-primary(type='submit') Delete 